name: build

on:
  push:

env:
  DRY_RUN: ${{ github.ref != 'refs/heads/master' }}


jobs:
  build:
    runs-on: windows-latest
    timeout-minutes: 15

    steps:
      - uses: actions/checkout@v2.3.4

      - name: prepare
        run: cinst ikvm --version 8.1.5717.20170308

      - name: build
        run: pwsh ./build.ps1

      - uses: actions/upload-artifact@v2
        with:
          name: packages
          path: bin/*.nupkg

      # - name: deploy
      #   if: ${{ startsWith( github.ref, 'refs/tags/' }}
      #   run: nuget push -SkipDuplicate -Source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json ${{ github.token }} *.nupkg
      #   working-directory: bin


